body{
    background-color: black;
    justify-content: center;
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
}
.main-container{
    width: 100%;
    height: 100%;
    display: block;
    margin: auto;
}


.pluto{
    height: 43em;
    width: 43em;
    border: 0.5px solid rgba(255, 255, 255, 0.182);
    border-radius: 50%;
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    animation: pluto 90s linear infinite;
    }
    .pluto::before{
        content: "";
        height: 12.6em;
        width: 12.6em;
        display: flex;
        border-radius: 50%;
        background-color: rgb(99, 77, 0);
        scale: 0.035;
    }

.neptune{
    height: 40em;
    width: 40em;
    border: 0.5px solid rgba(255, 255, 255, 0.182);
    border-radius: 50%;
    position: relative;
    bottom: 665px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    animation: neptune 80s linear infinite;
    }
    .neptune::before{
        content: "";
        height: 11.7em;
        width: 11.7em;
        display: flex;
        border-radius: 50%;
        background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%);
        scale: 0.10;
    }
    .neptune:hover{
        cursor: pointer;        
    }


.uranus{
    height: 37em;
    width: 37em;
    border: 0.5px solid rgba(255, 255, 255, 0.182);
    border-radius: 50%;
    position: relative;
    bottom: 1282px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    animation: uranus 70s linear infinite;
    }
    .uranus::before{
        content: "";
        height: 10.7em;
        width: 10.7em;
        display: flex;
        border-radius: 50%;
        background-image: linear-gradient(120deg, #92bbfd 50%, #c2e9fb 100%);
        scale: 0.08;
    }
    .uranus:hover{
        cursor: pointer; 
    }

.saturn{
    height: 33.5em;
    width: 33.5em;
    border: 0.5px solid rgba(255, 255, 255, 0.182);
    border-radius: 50%;
    position: relative;
    bottom: 1847px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    animation: saturn 60s linear infinite;
    }
    .saturn::before{
        content: "";
        height: 9.9em;     /*9.9em; */
        width: 9.9em;
        display: flex;
        border-radius: 50%;
        background-image: linear-gradient(to top, #e99a33 40%, #eacda3 100%);
        box-shadow: 0 0 0px 30px rgba(255, 255, 255, 0.268);
        scale: 0.18;
    }
    .saturn:hover{
        cursor: pointer;       
    }

.jupiter{
    height: 27em;
    width: 27em;
    border: 0.5px solid rgba(255, 255, 255, 0.182);
    border-radius: 50%;
    position: relative;
    bottom: 2332px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    animation: jupiter 50s linear infinite;
    }
    .jupiter::before{
        content: "";
        height: 8em;
        width: 8em;
        display: flex;
        border-radius: 50%;
        background-image: linear-gradient(to top, #b73d00 0%, #bdbdbd 15%, #b55626 30%, #bdbdbd 46%, #b55626  60%, #bdbdbd 71%, #b7927f  84%, #b73d00 100%);
        scale: 0.40;
    }
    .jupiter:hover{
        cursor: pointer;       
    }

.mars{
    height: 20em;
    width: 20em;
    border: 0.5px solid rgba(255, 255, 255, 0.182);
    border-radius: 50%;
    position: relative;
    bottom: 2707px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    animation: mars 40s linear infinite;
    }
    .mars::before{
        content: "";
        height: 5.9em;
        width: 5.9em;
        display: flex;
        border-radius: 50%;
        background-image: linear-gradient(-60deg, #ff1f1f 20%, #975800 100%);
        scale: 0.12;
    }
    .mars:hover{
        cursor: pointer;       
    }

.earth{
    height: 17em;
    width: 17em;
    border: 0.5px solid rgba(255, 255, 255, 0.182);
    border-radius: 50%;
    position: relative;
    bottom: 3005px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    animation: earth 30s linear infinite;
    }
    .earth::before{
        content: "";
        height: 5em;
        width: 5em;
        display: flex;
        border-radius: 50%;
        background-image: linear-gradient(to top, #09203f 0%, #537895 100%);
        scale: 0.23;
    }
    .earth:hover{
        cursor: pointer;       
    }

.venus{
    height: 13.5em;
    width: 13.5em;
    border: 0.5px solid rgba(255, 255, 255, 0.182);
    border-radius: 50%;
    position: relative;
    bottom: 3251px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    animation: venus 20s linear infinite;
    }
    .venus::before{
        content: "";
        height: 4em;
        width: 4em;
        display: flex;
        border-radius: 50%;
        background-image: linear-gradient(-60deg, #ff5858 0%, #f09819 100%);
        scale: 0.40;
    }
    .venus:hover{
        cursor: pointer;       
    }
    /* mercury */
.mercury{
    height: 10em;
    width: 10em;
    border: 0.5px solid rgba(255, 255, 255, 0.182);
    border-radius: 50%;
    position: relative;
    bottom: 3442px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    animation: mercury 10s linear infinite;
    }
    .mercury::before{
        content: "";
        height: 2.9em;
        width: 2.9em;
        display: flex;
        border-radius: 50%;
        background-image: linear-gradient(to right, #c1c161 0%, #c1c161 0%, #d4d4b1 100%);
        scale: 0.18;
    }
    .mercury:hover{
        cursor: pointer;       
    }

.sun{
    height: 7.2em;
    width: 7.2em;
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    bottom: 3580px;
    background-color: rgb(221, 255, 0);
    box-shadow: 0 0 12px 2px rgb(255, 187, 0);
    }
    .sun:hover{
        cursor: pointer;       
    }
